POSTGRES_DB_URL=""

UAT_BASE_URL="https://mercury-uat.phonepe.com/enterprise-sandbox"
PRODUCTION_BASE_URL="https://mercury-t2.phonepe.com"

QR_INIT_ENDPOINT="/v3/qr/init"
TRANSACTION_ENDPOINT="/v3/transaction"

MERCHANT_ID=""
X_PROVIDER_ID=""
SALT_KEY=""
SALT_KEY_INDEX=""
STORE_ID=""
TERMINAL_ID=""

